    <footer id="site-footer">
        <div class="container">
            <br>
            <br> 
            <a href="https://www.instagram.com/bgrout_trout/?hl=en" title="Instagram" target="_blank"><span class="tooltip"><i class="fa fa-instagram"></i></span></a>

      
            <a href="https://twitter.com/BrennanJava" title="Twitter" target="_blank"><span class="tooltip"><i class="fa fa-twitter"></i></span></a>
 

            <a href="https://www.facebook.com/brennan.grout.1" title="Facebook" target="_blank"><span class="tooltip"><i class="fa fa-facebook"></i></span></a>
 

            <a href="https://github.com/Bjg813" title="GitHub" target="_blank"><span class="tooltip"><i class="fa fa-github"></i></span></a>

 
          <section>&copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a> 2017 | All rights reserved</section>
        </div>
    </footer>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/fittext.js"></script>
    <script type="text/javascript">
      $(".heading").fitText();
    </script>
